body {
  position: relative;
  margin: 0;
  color: white;
  height: 100vh;
  background-color: #232c39;
  font-family: 'Montserrat', serif;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: relative;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: -0.1em;
  padding: 0 20px;
  word-spacing: 5px;
  background: -webkit-linear-gradient( 135deg, #43CBFF 0%, #9708CC 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h1::after {
  position: absolute;
  background: none;
  content: attr(data-text);
  left: 0;
  text-shadow: 20px 6px 6px rgba(0, 0, 0, 0.33);
  top: 0;
  z-index: -1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title p {
  margin: 40px 20px 20px 20px;
  font-size: 1.3em;
  text-align: left;
  width: 700px;
}

/*.title .current-player {
  color: #43CBFF;
}*/

.title strong {
  color: #43CBFF;
}

.title .compatibility {
  display: flex;
}

.title .compatibility .player {
  min-width: 100px;
  margin: 0 20px;
}

h2 {
  font-size: 1.1em;
}

section {
  text-align: center;
  font-size: 1em;
}

section.download {
  margin-bottom: 60px;
}

section.contact {
  font-size: 0.8em;
}

.animated, .animated img {
  display: inline-block;
}

.animated img {
  vertical-align: bottom;
  height: 30px;
  margin-left: 4px;
}

.macbook {
  background: url(./images/macbook.png) no-repeat;
  background-size: 100%;
  width: 678px;
  height: 398px;
  margin: 40px auto 20px;
  position: relative;
}

.macbook .glare {
  background: url(./images/glare.png) no-repeat;
  background-size: inherit;
  width: 227px;
  height: 321px;
  position: absolute;
  right: 75px;
  top: 3px;
  z-index: 1;
}

.macbook .monitor {
  position: absolute;
  top: 23px;
  left: 91px;
  background-size: inherit;
  width: 496px;
  height: 310px;
  background-image: url(./images/tv-show-track.gif);
}

@media (max-width: 620px) {
  .macbook {
    width: 280px;
    height: 175px;
  }

  .macbook .glare {
    width: 90px;
    right: 31px;
    top: 1px;
  }

  .macbook .monitor {
    top: 10px;
    left: 38px;
    width: 205px;
    height: 128px;
  }
}
